<div class="p-4">
  <app-filter></app-filter>
</div>

<div class="product-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 p-4">

<ng-container *ngIf="!listings">
  <p class="text-light-text-secondary dark:text-text-secondary">No listings found... :(</p>
</ng-container>

<ng-container *ngIf="listings?.length === 0">
  <div class="flex justify-center items-center h-40">
    <div class="w-10 h-10 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin"></div>
  </div>
</ng-container>

  <div *ngFor="let listing of listings" class="product-card" routerLink="/listing"
    (click)="viewListing(listing.id); SetListing(listing);">

    <!-- Image + Price -->
    <div class="relative">
      <img [src]="'https://hangszercsere.hu/uploads/' + listing.images[0]" alt="Listing Image"
        class="w-full h-48 object-cover rounded-t-md">
      <span class="price-badge">{{ listing.price }} Ft</span>
      <span class="condition-badge left-2 top-2" [ngClass]="{
        'text-green-500 border-green-500': listing?.condition === 'New',
        'text-emerald-400 border-emerald-400': listing?.condition === 'Very Good',
        'text-yellow-500 border-yellow-500': listing?.condition === 'Good',
        'text-orange-500 border-orange-500': listing?.condition === 'Satisfactory'
      }">{{ listing?.condition }}</span>
    </div>

    <!-- Title -->
    <div class="product-title">
      {{ listing.title }}
    </div>

    <div class="product-description">
      <ng-container *ngIf="listing.description.length > 30">
        {{ listing.description.substring(0, 30) }}...
      </ng-container>
      <ng-container *ngIf="listing.description.length <= 30">
        {{ listing.description }}
      </ng-container>
    </div>

    <!-- Meta info -->
    <div class="product-meta">
      <span>Seller: <b>{{ listing.seller }}</b></span>
      <span>Category: <b>{{ listing.category }}</b></span>
    </div>

    <!-- Time since posted -->
    <div class="product-date">
      <span><i class="nf nf-weather-time_2"></i> {{ listing.created_at | timeAgo }}</span>
      <!-- Angular pipe to convert date to "1 day ago" -->
      <ng-container *ngIf="listing.seller != this.user.getUserName()">
        <a class="cart-button">
          <b><i class="nf nf-md-cart"></i></b>
        </a>
      </ng-container>
    </div>
  </div>
</div>