.message-container .delete-icon {
  display: none;
}

.message-container:hover .delete-icon {
  display: inline-block;
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

.reply-icon {
  display: none;
}

.reply-icon:hover {
  color: blue;
}

.message-container:hover .reply-icon {
  display: inline-block;
  cursor: pointer;
}