<div class="w-full flex justify-center px-4 py-16">
  <div class="group rounded-xl overflow-hidden
           bg-white dark:bg-[#241e34]
           border border-zinc-200 dark:border-[#3a3155]
           transition-all duration-300
           hover:-translate-y-1 hover:shadow-lg
           dark:hover:shadow-purple-900/30
           min-h-[400px] flex flex-col">

    <div class="product-title">
      Hangszercsere mobilalkalmazás
    </div>

    <div class="product-description">
      A hangszercsere.hu hivatalos mobilalkalmazása.
      <br>
    </div>

    <div class="product-meta flex justify-center text-2xl">
        <i class="nf nf-dev-android"></i>
    </div>

    <div class="px-6 pb-4 text-sm text-light-text-secondary dark:text-text-secondary">
      <ul class="list-disc pl-5 space-y-1">
        <li>Hirdetések böngészése és keresés</li>
        <li>Bejelentkezés és profilkezelés</li>
        <li>Kosár és vásárlás mobilról</li>
        <li>Értesítések új hirdetésekről</li>
      </ul>
    </div>

    <div class="product-actions px-4 py-6 flex flex-col items-center">
      <a
        class="cart-button mb-6"
        href="https://github.com/GodziXD/hangszercsere-mobil-releases/releases/download/Release/com.snailware.hangszercsere_v1.0.0.apk"
        target="_blank"
        rel="noopener"
      >
        Android APK letöltése
      </a>

        <span class="text-[10px] opacity-50 text-light-text-secondary dark:text-text-secondary text-center">
            A telepítéshez engedélyezned kell az ismeretlen forrásból származó
            alkalmazások telepítését az eszközödön.
        </span>

        <div class="m-4 text-center text-sm text-light-text-secondary dark:text-text-secondary">
            A letöltéssel elfogadod a hangszercsere.hu adatkezelési tájékoztatóját.
        </div>

    </div>


  </div>
</div>
