@import "https://www.nerdfonts.com/assets/css/webfont.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

.condition-badge {
  @apply absolute top-2 left-2 px-2 py-0.5 rounded-full font-semibold text-xs border
         backdrop-blur-sm shadow;
}

  .button {
    @apply h-full px-3 py-1 rounded transition-all
           bg-light-card-bg text-light-text-secondary
           hover:bg-light-accent hover:text-light-text-primary
           dark:bg-card-bg dark:text-text-secondary
           dark:hover:bg-accent dark:hover:text-text-primary;
  }

  .nav-item {
    @apply h-full px-3 py-1 rounded transition-all
           bg-light-card-bg text-light-text-secondary
           hover:bg-light-accent hover:text-light-text-primary
           dark:bg-card-bg dark:text-text-secondary
           dark:hover:bg-accent dark:hover:text-text-primary;
  }

  .nav-logo {
    @apply font-mono font-bold cursor-pointer px-4 text-lg py-2 rounded shadow-sm
           text-light-text-primary dark:text-text-primary;
  }

  .dark-toggle-btn {
    @apply px-3 py-1 rounded bg-accent text-white hover:bg-accent-hover transition-all;
  }

  .product-card {
    @apply border-2 border-accent-hover dark:border-transparent bg-light-card-bg dark:bg-card-bg rounded-[25px] shadow-lg transform
           hover:-translate-y-1 cursor-pointer flex flex-col overflow-hidden border-solid transition-all duration-200;
  }

  .price-badge {
    @apply absolute top-2 right-2 px-3 py-1 rounded-full font-bold
           text-price-text dark:text-text-primary
           bg-[#1B1226]/30 dark:bg-[#2A1F3B]/50 backdrop-blur-sm shadow-md;
  }

  .product-title {
    @apply h-full px-4 py-3 text-center text-lg font-bold mt-2 line-clamp-1
           text-light-text-primary dark:text-text-primary pb-4 border-b-2 border-b-accent-hover dark:border-b-accent mb-4;
  }

  .product-description {
    @apply h-full text-center mt-1 text-sm text-light-text-secondary dark:text-text-secondary line-clamp-2 px-4 mb-3 min-h-[20px] pb-4;
  }

  .product-meta {
    @apply h-full mt-2 px-4 text-sm text-light-text-secondary dark:text-text-secondary mb-4 flex justify-between pb-4;
  }

  .product-date {
    @apply h-full flex items-center px-4 mt-1 text-xs justify-between pb-4;
  }

  .dropdown-item {
    @apply block px-4 py-2 text-light-text-secondary dark:text-text-secondary
           hover:bg-accent hover:text-text-primary dark:hover:bg-accent dark:hover:text-text-primary
           cursor-pointer;
  }

  .hover-button {
    @apply block w-full text-center font-semibold py-4 dark:hover:bg-accent-hover hover:bg-accent-hover hover:dark:text-black transition-all;
  }
  .cart-button {
    @apply flex text-center font-semibold p-4 px-8 rounded-lg border-2 border-accent-hover dark:border-accent hover:border-transparent border-solid duration-200 dark:hover:bg-accent-hover hover:bg-accent-hover hover:dark:text-black transition-all;
  }

  .input-field {
    @apply px-3 py-2 rounded border border-accent-hover dark:border-gray-700
          bg-light-site-bg dark:bg-site-bg text-light-text-primary dark:text-text-primary
          focus:outline-none focus:ring-2 focus:ring-accent;
  }

  .product-actions {
    @apply h-full mt-4 border-t-2 border-t-gray-600 ;
  }

  .footer {
    @apply border-t-2 border-accent-hover dark:border-transparent bg-light-card-bg dark:bg-card-bg text-light-text-secondary dark:text-text-secondary
               text-center py-2 shadow-md sm:bottom-0 sm:w-full
  }

  .cookie-banner {
    @apply fixed bottom-8 left-1/2 transform -translate-x-1/2 px-4 py-2 rounded-md font-semibold flex items-center shadow-lg transition-all border
           bg-light-card-bg dark:bg-card-bg dark:border-accent text-light-text-secondary dark:text-text-secondary;
  }

  .cookie-banner button {
    @apply px-3 py-1 rounded bg-accent text-white hover:bg-accent-hover transition-all;
  }

  body {
    background-color: #110F1B; /* dark so browser doesnt flash you on page reload */
  }
}