<div class="w-full space-y-4" (change)="FilterListings()" (input)="FilterListings()">

  <div class="flex flex-wrap items-center gap-2" >
    <button (click)="showExtra = !showExtra"
      class="px-4 py-2 bg-accent text-white rounded hover:bg-accent-dark transition">
      szűrők
    </button>

    <select [(ngModel)]="filters.category"
      class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg hover:bg-accent hover:text-white transition">
      <option value=null>Kategória</option>
       <ng-container *ngFor="let category of categories">
          <option [value]="category.name">{{category.name}}</option>
        </ng-container>
    </select>

    <div class="flex gap-2 items-center">
      <select [(ngModel)]="filters.priceType"
        class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg hover:bg-accent hover:text-white transition">
        <option value=null>Ár</option>
        <option value="less">Kevesebb mint</option>
        <option value="more">Több mint</option>
        <option value="custom">Egyéni</option>
      </select>

      <input *ngIf="filters.priceType === 'less' || filters.priceType === 'more'" type="number" placeholder="Ár"
        [(ngModel)]="filters.priceValue" class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />

      <div *ngIf="filters.priceType === 'custom'" class="flex gap-1">
        <input type="number" placeholder="Min" [(ngModel)]="filters.priceMin"
          class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />
        <input type="number" placeholder="Max" [(ngModel)]="filters.priceMax"
          class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />
      </div>
    </div>

    <select [(ngModel)]="filters.condition" [ngClass]="{
                            'text-green-500 border-green-500 focus:border-green-500': filters.condition === 'Új',
                            'text-emerald-400 border-emerald-400 focus:border-emerald-400': filters.condition === 'Nagyon jó',
                            'text-yellow-500 border-yellow-500 focus:border-yellow-500': filters.condition === 'Jó',
                            'text-orange-500 border-orange-500 focus:border-orange-500': filters.condition === 'Elfogadható'
                        }"
      class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg hover:bg-accent hover:text-white transition">

      <option value=null disabled class="text-gray-400 dark:bg-gray-800">Állapot</option>
      <option value="Új" class="text-green-500 font-semibold dark:bg-gray-800">Új</option>
      <option value="Nagyon jó" class="text-emerald-400 font-semibold dark:bg-gray-800">Nagyon jó
      </option>
      <option value="Jó" class="text-yellow-500 font-semibold dark:bg-gray-800">Jó</option>
      <option value="Elfogadható" class="text-orange-500 font-semibold dark:bg-gray-800">
        Elfogadható</option>
    </select>
  </div>

  <div *ngIf="showExtra" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

    <input [(ngModel)]="filters.brand" placeholder="Márka"
      class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />

    <input [(ngModel)]="filters.model" placeholder="Modell"
      class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />

    <input [(ngModel)]="filters.location" placeholder="Hely"
      class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />

    <select [(ngModel)]="filters.aiRating" class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition">
      <option value=null>AI Értékelés</option>
      <option value=1>1 ⭐</option>
      <option value=2>2 ⭐</option>
      <option value=3>3 ⭐</option>
      <option value=4>4 ⭐</option>
      <option value=5>5 ⭐</option>
    </select>

    <div class="flex gap-2 items-center">
      <select [(ngModel)]="filters.dateType" class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition">
        <option value=null>Dátum</option>
        <option value="before">Előtt</option>
        <option value="after">Után</option>
      </select>
      <input type="date" [(ngModel)]="filters.dateValue"
        class="px-4 py-2 rounded bg-light-card-bg dark:bg-card-bg transition" />
    </div>

  </div>
</div>